
@import url('https://fonts.googleapis.com/css2?family=K2D:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=K2D&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kelly+Slab&family=New+Rocker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



.text-color{
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.00) 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.what2{
  color: #FFF;
font-family: Playfair Display SC;
font-size: 13.815px;
font-style: normal;
font-weight: 400;
line-height: normal; 
}

.E-summit{
  background: linear-gradient(92deg, #B0C8EB 2.33%, #1C70D1 51.91%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Playfair Display SC;
font-size: 70px;
font-style: normal;
font-weight: 700;
line-height: 133.551%;
}
.E-summit2{
  background: linear-gradient(92deg, #B0C8EB 2.33%, #1C70D1 51.91%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Playfair Display SC;
font-size: 16.117px;
font-style: normal;
font-weight: 700;
line-height: 133.551%;  
}

.what{
  color: #FFF;
  font-family: Playfair Display SC;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.Speaker{
  border-radius: 15.797px 31.594px;
background: radial-gradient(148.29% 147.31% at 0% 0%, #D3D8E0 0%, rgba(0, 0, 0, 0.04) 0.62%, rgba(54, 54, 54, 0.25) 42.19%, rgba(0, 32, 82, 0.54) 100%);
box-shadow: 0px 3.949px 4.937px 0px rgba(42, 42, 42, 0.25);
}
.font{
  display: flex;
width: 1424.118px;
height: 158.18px;
justify-content: center;
align-items: center;
flex-shrink: 0; 
}

.box{
  width: 311px;
  height: 338.644px;
  padding: 40.48px 33.794px 51.541px 33.096px;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  display:flex
  }
.card{ border-radius: 24.043px;
background: radial-gradient(123.29% 113.27% at 0% 0%, rgba(0, 56, 144, 0.00) 0%, rgba(46, 104, 173, 0.00) 0%, #000 100%);
box-shadow: 0px 3.005px 3.005px 7.513px rgba(0, 0, 0, 0.25);
z-index: 100;

}
.card2{border-radius: 24.043px;
  background: radial-gradient(140.29% 138.31% at 97.81% -3.1%, rgba(46, 104, 173, 0.00) 0%, rgba(0, 56, 144, 0.00) 0%, #031025 100%);
  box-shadow: 0px 3.005px 3.005px 7.513px rgba(0, 0, 0, 0.25);
  z-index: 100;
  
}
.card3{
  border-radius: 24.043px;
background: radial-gradient(104.34% 108.29% at 103.23% 47.53%, rgba(228, 229, 232, 0) 0%, rgba(46, 104, 173, 0.00) 0%, #031025 100%);
box-shadow: 0px 3.005px 3.005px 7.513px rgba(0, 0, 0, 0.25);
z-index: 100;

}
.card4{
  border-radius: 24.043px;
  background: radial-gradient(85.49% 93.06% at 100.13% 100.11%, rgba(0, 56, 144, 0.00) 0%, rgba(46, 104, 173, 0.00) 0%, #031025 100%);
  box-shadow: 0px 3.005px 3.005px 7.513px rgba(0, 0, 0, 0.25);
  z-index: 100;
  
}

.heading{
  font-family: 'K2D', sans-serif;
}
.over{
  border-radius: 72.844px;
border: 1px solid #FFF;
background: linear-gradient(124deg, #001E34 2.21%, rgba(0, 60, 131, 0.22) 100.04%);
box-shadow: 0px 9.106px 9.106px 22.764px rgba(0, 0, 0, 0.25);
}
.sponsors{
  background: linear-gradient(91deg, #B0C8EB 32.98%, rgba(26, 112, 208, 0.90) 64.45%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; 
}
.sponserCard{
  border-radius: 72.844px;
border: 1px solid #FFF;
box-shadow: 0px 9.106px 9.106px 22.764px rgba(0, 0, 0, 0.25);


}
.sponsersName{
  color: #FFF;


font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 2.284px;
}

.background{
  background: linear-gradient(104deg, rgba(149, 175, 244, 0.19) 0%, rgba(56, 101, 154, 0.02) 100%); 
}
.team{
  color: #FFF;
text-align: center;
font-family: Playfair Display SC;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 1.4px; 

}
.team2{
  color: #C9C9C9;
font-family: Playfair Display SC;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 1.4px; 
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.text{

flex-shrink: 0; 
border-radius: 16px;
border: 2px solid rgba(0, 32, 82, 0.18);
background: rgba(0, 32, 82, 0.08); 
}
.Id{
  width: 893px;
height: 1117px; 
}
.InId{
  width: 378px;
height: 529.551px;
flex-shrink: 0; 
fill: #076FAA; 
}
.small{
  width: 332px;
height: 283px;
flex-shrink: 0; 
border-radius: 16px;
background: rgba(255, 255, 255, 0.83);

}
.volunteer{
  width: 171px;
height: 33px;
flex-shrink: 0; 
color: #0A093F;
font-family: K2D;
font-size: 27px;
font-style: normal;
font-weight: 800;
line-height: normal;
letter-spacing: 1.35px; 
}
.downLoad{
  display: flex;
width: 575px;
/* padding: 18px 285px; */
justify-content: center;
align-items: center;
gap: 10px; 
border-radius: 16px;
border: 2px solid rgba(0, 32, 82, 0.18);
background: #002052; 
}

.cardName{
  width: 183.486px;
height: 31.894px;
flex-shrink: 0; 
color: #FFF;
font-family: K2D;
font-size: 22.54px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 1.127px; 
}
.signUp{
  border-radius: 16px;
border: 2px solid rgba(0, 32, 82, 0.18);
background: rgba(0, 32, 82, 0.93); 
display: flex;
justify-content: center;
align-items: center;
gap: 10px; 
}
.dropDown{
  width: 600px;
height: 40px;
flex-shrink: 0; 
border-radius: 16px;
border: 2px solid rgba(0, 32, 82, 0.18);
background: rgba(0, 32, 82, 0.08);
}
.label{
  color: rgba(0, 32, 82, 0.72);
font-family: K2D;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal; 
}
.sponsor{
  width: 1201px;
height: 900px; 
border-radius: 72.844px;
border: 1px solid #FFF;
box-shadow: 0px 9.106px 9.106px 22.764px 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
